<?xml version="1.0" encoding="UTF-8"?>
<web-app xms:xsi="http://www.w3.org/2001/XMLSchema-instance" xms="http://xms.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xms.jcp.org/xml/ns/javaee http://xms.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>impObj</display-name>


	<context-param>
		<param-name> logEnable </param-name>
		<param-value> true </param-value>
	</context-param>
	
	<context-param>
		<param-name> debugLev </param-name>
		<param-value> 7 </param-value>
	</context-param>
	
	<context-param>
		<param-name> driver </param-name>
		<param-value> oracle </param-value>
	</context-param>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>